<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storian Web</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <style>
    .navbar-nav .nav-item .nav-link {
    color: #333; /* Color del texto */
    margin-right: 25px;
    font-size: 18px; 
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

    /* Estilo al pasar el ratón sobre los enlaces del navbar */
    .navbar-nav .nav-item .nav-link:hover {
    background-color: #adf9c879; /* Cambia el color de fondo al pasar el ratón */
    color: #555555; /* Cambia el color del texto al pasar el ratón */
}
    </style>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container">
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    // Restaura el estado de visibilidad almacenado
                    restoreVisibilityState();
            
                    // Maneja el clic en los enlaces de navegación
                    var navLinks = document.querySelectorAll('.navbar-nav .nav-link');
                    navLinks.forEach(function(link) {
                        link.addEventListener("click", function() {
                            // Almacena en localStorage el enlace seleccionado y oculta su nombre
                            var selectedLinkId = this.getAttribute('href');
                            localStorage.setItem('selectedLinkId', selectedLinkId);
                            hideLinkName(selectedLinkId);
                        });
                    });
                });
            
                // Función para restaurar el estado de visibilidad almacenado
                function restoreVisibilityState() {
                    var selectedLinkId = localStorage.getItem('selectedLinkId');
                    if (selectedLinkId) {
                        hideLinkName(selectedLinkId);
                    }
                }
            
                // Función para ocultar el nombre del enlace seleccionado
                function hideLinkName(selectedLinkId) {
                    var selectedLink = document.querySelector('.navbar-nav .nav-link[href="' + selectedLinkId + '"]');
                    if (selectedLink) {
                        selectedLink.style.display = 'none'; // Oculta completamente el enlace
                    }
                }
            </script>
            
            

            
            <!-- Reemplaza el texto con una imagen (ajusta la ruta de la imagen) -->
            <a class="navbar-brand" href="/">
                <img src="{% static 'assets/img/navbarlogo.png' %}" alt="Logo" style="width: 210px; height: 50px;margin-left: 20px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/mapa/">Mapa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/busqueda/">Busqueda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/viajetiempo/">Viaje en el Tiempo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planificar/">Planificar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reseñas/">Reseñas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/micuenta/">Mi Cuenta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>