{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/styles-busqueda.css' %}">

<div class="search-container">
    <h1>Busqueda de Lugares Historicos</h1>
    <form id="search-form">
        {% csrf_token %}
        <div class="search-bar">
            <input type="text" id="search-input" name="search_term" placeholder="Buscar lugares...">
        </div>
        <button type="button" class="btn btn-custom btn-lg" onclick="buscarLugar()">Buscar</button>
        <button type="button" class="btn btn-custom btn-lg" onclick="accederAMapa()">Acceder a Mapa</button>
    </form>
    <div id="suggestions-container"></div>
</div>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function buscarLugar() {
        var inputElement = document.getElementById('search-input');
        var search_term = inputElement.value;

        // Hacer la solicitud Ajax
        axios.post('/autocompletar_lugares/', {search_term: search_term})
            .then(function (response) {
                mostrarSugerencias(response.data.sugerencias);
            })
            .catch(function (error) {
                console.error('Error al obtener sugerencias', error);
            });
    }

    function mostrarSugerencias(sugerencias) {
        // Aquí puedes mostrar las sugerencias, por ejemplo, en un cuadro desplegable
        var suggestionsContainer = document.getElementById('suggestions-container');
        suggestionsContainer.innerHTML = '';

        sugerencias.forEach(function (sugerencia) {
            var suggestionElement = document.createElement('div');
            suggestionElement.innerText = sugerencia.nombre;
            suggestionElement.addEventListener('click', function () {
                window.location.href = '/ver_lugar/' + sugerencia.id;
            });
            suggestionsContainer.appendChild(suggestionElement);
        });
    }
</script>

{% endblock %}
</body>
</html>