
{% extends 'core/baseindex.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles-contacto.css' %}">

  <title>Formulario de contacto</title>
  
  </head>
<body>
  <div class="contact_form">
    <div class="formulario">
      <h1 style="text-align: center;">Formulario de contacto</h1>
      <h3 style="text-align: center;">Escríbenos... cualquier consulta o recomendacion nos sera util para el crecimiento de nuestra página</h3>
      <form method="post" action="{% url 'contacto' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="enviar_formulario" id="enviar"><p>Enviar</p></button>
      </form>
    </div>
  </div>
  {% endblock %}
</body>
</html>
