<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpositer ACADEMY</title>
    <link rel="stylesheet" href="{% static 'css/styles-final.css' %}">

    <img src="{% static 'assets/img/logoindex.png' %}" alt="Logo" style="width: 500px; height: 320px; margin-left: 700px;">
</head>
<body>
    <h1>¡Muchas gracias por tu comentaro</h1>
    <p>¡Agradecemos sinceramente tu valioso comentario! Nos complace saber que tomaste el tiempo para compartir tu experiencia con nosotros. Cada opinión es fundamental para nosotros, ya que nos ayuda a comprender mejor las necesidades y expectativas de nuestros visitantes.</p>
    <p>Nos comprometemos a tomar en cuenta cada detalle que compartiste. Cada sugerencia contribuye a perfeccionar nuestro desempeño y a brindar un servicio que cumpla con tus expectativas y las de todos nuestros usuarios. Tu participación activa es fundamental para el desarrollo y la evolución de nuestra comunidad histórica.</p>
    <p>¡Gracias por ser parte de nuestra comunidad y por ayudarnos a mejorar cada día!</p>

    

</body>
</html>