{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storian Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/StorianWeb/core/static/css/styles-formulario.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="index.html" style="font-size: 30px;">Storian Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="informacion.html">Mapa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline">
                            <input class="form-control" type="text" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-outline-primary" type="submit">
                                <i class="fas fa-search"></i> <!-- Ícono de lupa de Font Awesome -->
                            </button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="icon-img"><img src="/StorianWeb/core/static/assets/img/usuario.png"
                                    alt="Icono de cuenta" width="16" height="16"></i>
                            My Account
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>¡Formulario de Visita!</h1>
        <form action="">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="date">Fecha de visita:</label>
                    <input type="date" id="date" name="date" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="time">Hora de visita:</label>
                    <input type="time" id="time" name="time" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="place">Lugar visitado:</label>
                <input type="text" id="place" name="place" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="group">¿Viene en grupo?</label>
                <select id="group" name="group" class="form-control" required>
                    <option value="">Seleccione una opción</option>
                    <option value="yes">Sí</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="visitors">Número de visitantes:</label>
                <input type="number" id="visitors" name="visitors" min="1" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

</body>
{% endblock %}
