{% extends 'core/baseindex.html' %}
{% load static %}
{% block content %}
    <!-- Contenido actual de tu página -->
    <link rel="stylesheet" href="{% static 'css/styles-index.css' %}">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 text-right">
                <a href="#"> <!-- Agrega el enlace deseado en href -->
                    <img src="{% static 'assets/img/logoindex.png' %}" alt="Logo" style="width: 650px; height: 420px; margin-left: 700px;">
                </a><br><br>
                <a href="/iniciosesion/" style="margin-left: 940px; margin-top: 20px;">
                    <button class="btn btn-custom btn-lg">Iniciar Sesión</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
