<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Detallada</title>
    <link rel="stylesheet" href="/StorianWeb/core/static/css/styles.-info.css">
</head>

<body>
    <div class="container">
        <div class="left-panel">
            <h2 class="section-title">Resultado de Búsqueda</h2>
            <div class="detailed-info">
                <!-- Aquí se mostrará la información detallada -->
            </div>
            <h2 class="section-title">Ubicaciones más Cercanas</h2>
            <div class="nearby-locations">
                <!-- Aquí se mostrarán las ubicaciones cercanas -->
            </div>
        </div>
        <div class="right-panel">
            <!-- Aquí se mostrará el mapa -->
            <div id="map"></div>
        </div>
    </div>
</body>

</html>
