{% extends 'core/baseindex.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles-ini.css' %}">
<div class="container-container">
  <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="text-center">
      <h1>Accedé</h1>
    </div>
    <div class="formbg-outer">
      <div class="formbg">
        <div class="flex-justifyContent--center">
          <span class="padding-bottom--15" style="text-align: center;">Iniciar sesión para continuar</span>
          <form id="stripe-login">
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary" >Iniciar sesión</button>
                <p class="join-now">
                  ¿Aún no tienes una cuenta? <a href="{% url 'registrar_usuario' %}">Únete aquí</a>
              </p>
              </form>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</link>

{% endblock %}


