<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <style>
        body {
            margin: 0;
            padding: 0;
        }
        .container-fluid {
            padding: 0;
        }
        #map {
            height: 89vh;
        }
        .navbar-nav .nav-item .nav-link {
    color: #333; /* Color del texto */
    margin-right: 25px;
    font-size: 18px; 
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

    /* Estilo al pasar el ratón sobre los enlaces del navbar */
    .navbar-nav .nav-item .nav-link:hover {
    background-color: #adf9c879; /* Cambia el color de fondo al pasar el ratón */
    color: #555555; /* Cambia el color del texto al pasar el ratón */
}
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'assets/img/navbarlogo.png' %}" alt="Logo" style="width: 210px; height: 50px;margin-left: 20px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-		expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/mapa/">Mapa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/busqueda/">Busqueda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/viajetiempo/">Viaje en el Tiempo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planificar/">Planificar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reseñas/">Reseñas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/micuenta/">Mi Cuenta</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- Aquí va el contenido de la mitad izquierda de la pantalla -->
            </div>
            <div class="col-md-6">
                <div id="map"></div>
                <script>
                    var map = L.map('map').setView([-36.8276, -73.0502], 14); // Coordenadas de Concepción, Chile
                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);
                    var marker = L.marker([-36.83259330174211, -73.04709392513155]).addTo(map);
                    marker.bindPopup("Parque Ecuador").openPopup();
                    var marker = L.marker([-36.82706325415922, -73.05020844603325]).addTo(map);
                    marker.bindPopup("Plaza Independencia").openPopup();
                    var marker = L.marker([-36.815509410609806, -73.0313667595257]).addTo(map);
                    marker.bindPopup("Plaza Acevedo").openPopup();
                    var marker = L.marker([-36.8333416414249, -73.04769222858886]).addTo(map);
                    marker.bindPopup("Cerro Caracol").openPopup();
                    var marker = L.marker([-36.87621624289867, -72.9931901153422]).addTo(map);
                    marker.bindPopup("Reserva Nacional Nonguén").openPopup();
                    var marker = L.marker([-36.815199153095485, -73.0303170460339]).addTo(map);
                    marker.bindPopup("Museo de historia Natural").openPopup();
                    var marker = L.marker([-36.83881805699544, -73.00863511705727]).addTo(map);
                    marker.bindPopup("Parque Zoológico Concepción").openPopup();
                    var marker = L.marker([-36.827401791254395, -73.05105216137751]).addTo(map);
                    marker.bindPopup("Catedral Metropolitana de la Santísima Concepción").openPopup();
                </script>
            </div>
        </div>
    </div>
</body>
</html>