  <style>
    /* Estilos personalizados para el botón */
    .custom-button {
      background-color: #000000;
      color: rgb(253, 253, 253); 
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
  </style>
  
</head>
{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles-pla.css' %}">

    <h2 class="text-center mb-4">Planifica Tu Visita o Evento</h2>
    <section class="page-section about-heading">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="{% static 'assets/img/calendario.jpg' %}" alt="Icono de cuenta" width="70" height="70">
        <p>Reserva tus horarios con facilidad.</p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'assets/img/dinero.png' %}" alt="Icono de cuenta" width="70" height="70">
        <p>Ingresa el precio del evento.</p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'assets/img/Eventos.png' %}" alt="Icono de cuenta" width="70" height="70">
        <p>Ven al proximo evento que los llevara a vivir una experiencia inolvidable.</p>
      </div>
    </div>
  </div>
  

  <div class="container">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="horario">Escoge tu horario</label>
        <select class="form-control" id="horario">
          <option value="" disabled selected>Selecciona</option>
          <option value="08:00 - 12:00">08:00 AM - 12:00 PM</option>
          <option value="3:00 - 7:00">3:00 PM - 7:00 PM</option>
          <option value="12:00 - 5:30">12:00 PM - 5:30 PM</option>
          <option value="5:30 - 8:40">5:30 PM - 8:40 PM</option>
          <option value="08:00 - 12:00">08:00 AM - 12:00 PM</option>
          <option value="3:00 - 9:20">3:00 PM - 9:20 PM</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="tarifa">Selecciona una tarifa:</label>
        <select class="form-control" id="tarifa">
          <option value="" disabled selected>Selecciona</option>
          <option value="tarifa-basica">$20.00 - Tarifa Básica</option>
          <option value="tarifa-intermedia">$50.000 - Tarifa Intermedia</option>
          <option value="tarifa-premium">$100.000 - Tarifa Premium</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fechaVisita">Fecha</label>
        <input type="date" class="form-control" id="FechaPorVisitar">
      </div>
      <div class="form-group col-md-6">
        <label for="lugarVisita">Selecciona un lugar histórico:</label>
        <select class="form-control" id="lugarVisita">
          <option value="" disabled selected>Selecciona</option>
          <option value="lugar-1">Parque Ecuador</option>
          <option value="lugar-2">Plaza Independencia</option>
          <option value="lugar-3">Monitor Huascar</option>
          <option value="lugar-4">Plaza Acevedo</option>
          <option value="lugar-5">Cerro Caracol</option>
          <option value="lugar-6">Universidad de Concepción</option>
          <option value="lugar-7">Parque Museo Pedro del Río Zañartu</option>
          <option value="lugar-8">Parque Tumbes</option>
          <option value="lugar-9">Desembocadura del río Biobío</option>
          <option value="lugar-10">Parque Nacional Nonguén</option>
          <option value="lugar-11">Catedral Metropolitana de la Santísima Concepción</option>
          <!-- Agrega más opciones según los lugares históricos que desees incluir -->
        </select>
      </div>
    </div>

    <!-- Centrar el botón utilizando las clases de Bootstrap -->
    <div class="text-center" >
      <button type="submit" class="custom-button">Ingresar</button>
    </div>
  </div>
  </section>
  
  {% endblock %}