{% extends 'core/baseindex.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles-registro.css' %}">
<div class="row">
    <div class="col-md-6 offset-md-3 registration-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <h1>Creá una cuenta nueva</h1>
            <p>¿Ya estás registrado? Iniciá sesión aquí.</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.nombre.label_tag }}
                        {{ form.nombre }}
                        {{ form.nombre.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.apellido.label_tag }}
                        {{ form.apellido }}
                        {{ form.apellido.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.fecha_nacimiento.label_tag }}
                        {{ form.fecha_nacimiento }}
                        {{ form.fecha_nacimiento.errors }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.avatar.label_tag }}
                        <select name="{{ form.avatar.name }}" class="form-control">
                            {% for value, label in form.avatar.field.choices %}
                                <option value="{{ value }}" {% if form.avatar.value == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                        {{ form.avatar.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.seudonimo.label_tag }}
                        {{ form.seudonimo }}
                        {{ form.seudonimo.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.tiposexo.label_tag }}
                        {{ form.tiposexo }}
                        {{ form.tiposexo.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
</div>
{% endblock %}