<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viaje en el Tiempo</title>

    <!-- Agrega las referencias a Bootstrap CSS y JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/StorianWeb/core/static/css/styles-viaje.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="index.html" style="font-size: 30px;">Storian Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="icon-img"><img src="/StorianWeb/core/static/assets/img/usuario.png" alt="Icono de cuenta" width="20" height="20"></i>
                            My Account
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container">
        <h1 class="title">Viaje en el Tiempo</h1>
        <div class="search-bar">
            <input type="text" id="location-input" placeholder="Ingrese lugar deseado">
        </div>
        <hr class="divider">
        <p class="subtitle">Viajar es la mejor manera de perderse y encontrarse al mismo tiempo</p>
        <hr class="divider">
        <div class="timeline">
            <!-- Aquí se mostrarán los elementos de la línea de tiempo -->
        </div>
    </div>
</body>

</html>