{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/styles-viaje.css' %}">
    <!-- Contenido principal -->
    <div class="container-item">
        <h1 class="title">Viaje en el Tiempo</h1>
        <div class="search-bar">
            <input type="text" id="location-input" placeholder="Ingrese lugar deseado">
            <div id="sugerencias-container" class="sugerencias-container"></div>
        </div>
        <div id="resultado" class="resultado-container">
            <!-- Aquí se mostrarán las imágenes y el texto -->
        </div>
    </div>

    <style>
        body {
            margin: 0; /* Elimina el margen por defecto del body */
            padding: 0; /* Elimina el relleno por defecto del body */
        }

        .search-bar {
            position: relative;
        }

        #resultado {
            display: flex;
            flex-direction: column; /* Cambia la dirección a columna */
            align-items: center; /* Centra en el eje transversal (vertical) */
            margin-top: 20px; /* Agrega espacio en la parte superior */
        }

        img {
            max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
            max-height: 400px; /* Ajusta la altura máxima de las imágenes */
            margin: 10px; /* Agrega espacio entre las imágenes */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a las imágenes */
        }

        p {
            text-align: center; /* Centra el texto debajo de cada imagen */
            margin-top: 10px; /* Agrega espacio entre el texto e imágenes */
        }

        #sugerencias-container {
            position: absolute;
            top: 150px; /* Ajusta la posición del contenedor de sugerencias */
            left: 0;
            width: auto; /* Ajusta automáticamente el ancho al contenido */
            background-color: transparent;
            border: none;
            display: none; /* Oculta las sugerencias inicialmente */
            z-index: 1;
            padding: 10px; /* Agrega relleno al contenedor de sugerencias */
            animation: fadeIn 0.3s ease; /* Agrega una animación de desvanecimiento */
        }

        .sugerencia {
            cursor: pointer;
            padding: 10px;
            text-align: left;
            text-transform: uppercase; /* Convierte el texto a mayúsculas */
            transition: background-color 0.4s ease; /* Agrega una transición de color de fondo */
        }

        .sugerencia:hover {
            background-color: #eebaba; /* Cambia el color de fondo al pasar el mouse */
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const locationInput = document.getElementById('location-input');
            const resultadoContainer = document.getElementById('resultado');
            const sugerenciasContainer = document.getElementById('sugerencias-container');

            // Estructura de datos con información sobre lugares
            const lugaresData = {
                'parque ecuador': {
                    'imagen1': "{% static 'assets/lugares/ecuador1.jpg' %}",
                    'imagen2': '{% static "assets/lugares/ecuador2.jpg" %}',
                    'imagen3': '{% static "assets/lugares/ecuador3.jpg" %}',
                    'texto1': 'Hasta 1939 el Parque Ecuador se denominaba Parque Alameda, pero luego del devastador terremoto de ese año, cambió su nombre por el actual en reconocimiento a la ayuda prestada a la ciudad por Ecuador.',
                    'texto2': 'La ayuda brindada a nuestro país por el pueblo hermano del Ecuador en 1906, luego que un terremoto causara gran destrucción desde Valparaíso al sur, hizo que en el año 1911 en un acto de gratitud los regidores de la Ilustre Municipalidad de Concepción decidieran cambiar el nombre de su principal paseo por "Parque Ecuador", llamado hasta ese momento Alameda Vieja. Para solemnizar el acto del cambio de nombre fue invitado don Rafael Elizalde, embajador de Ecuador, quien manifestó en una carta enviada el 15 de Julio al Alcalde Guillermo Cruzat su agradecimiento por el homenaje y su intención de estar presente en tan magna ceremonia.',
                    'texto3': 'En esta imagen actual, se revela el estado actual del Parque Ecuador, un oasis verde que ha evolucionado con el tiempo. Este espacio público se erige como un testimonio viviente de la armonía entre la naturaleza y el desarrollo urbano.',
                },
                'plaza independencia': {
                    'imagen1': '{% static "assets/lugares/independencia1.jpg" %}',
                    'imagen2': '{% static "assets/lugares/independencia2.jpg" %}',
                    'imagen3': '{% static "assets/lugares/independencia3.jpg" %}',
                    'texto1': 'Plaza de Armas de Concepción 1865, se observa en la foto su Diseño Forestal y fuente de Agua. Al frente la Municipalidad, Los Tribunales de Justicia y la Intendencia, al fondo el Templo de San Agustín',
                    'texto2': 'Esta imagen captura la esencia de la Plaza de la Independencia de Concepción en un tiempo anterior al devastador terremoto de 1939. Antes de este evento trascendental, la plaza era un punto central en la vida de la ciudad, reflejando la arquitectura, la cultura y la vitalidad de la época.',
                    'texto3': 'La imagen captura la actualidad de la Plaza de la Independencia en Concepción. Este emblemático espacio, centro de la ciudad, refleja la fusión entre la arquitectura moderna y la rica historia local. Un lugar donde el pasado y el presente convergen, la plaza sigue siendo testigo de eventos significativos y un punto de encuentro vital para la comunidad.',
                },
                'monitor huascar': {
                    'imagen1': '{% static "assets/lugares/huascar1.jpg" %}',
                    'imagen2': '{% static "assets/lugares/huascar2.jpg" %}',
                    'texto1': 'Blindado Huáscar en Talcahuano, vista de su banda de estribor, hacia 1930. Nótese que su palo trinquete y chimenea han sido removidos. Esta imagen data de una época anterior a su primera restauración, en 1934, con el fin de preservarlo como reliquia histórica, la que fue seguida de otras restauraciones en 1951-1952 y 1971-1972. Reproducción de una fotografía en placa de vidrio. Fuente: Archivo Histórico de la Armada.',
                    'texto2': 'En la imagen se presenta el Monitor Huáscar, un tesoro flotante que encarna la rica historia naval del hemisferio sur. Construido en el Reino Unido en la década de 1860, este buque de guerra es una reliquia única y una de las más antiguas del mundo. Hoy en día, el Monitor Huáscar se erige como un monumento flotante que preserva no solo la destreza naval, sino una parte trascendental de la historia patria. Cada cubierta y mamparo de este navío alberga recuerdos imborrables de un pasado brillante y heroico que merece ser recordado y compartido.',
                },
                // 'plaza acevedo': {
                //     'imagen1': '{% static "assets/lugares/huascar1.jpg" %}',
                //     'imagen2': '{% static "assets/lugares/huascar2.jpg" %}',
                //     'texto1': 'Texto pasado 3',
                //     'texto2': 'Texto pasado 4',
                // },
                'universidad de concepción': {
                    'imagen1': '{% static "assets/lugares/uniconcepcion1.jpg" %}',
                    'imagen2': '{% static "assets/lugares/uniconcepcion2.jpg" %}',
                    'texto1': 'La fotografía captura una instantánea única del Campanil de la Universidad de Concepción en el año 1943. Este emblemático edificio, construido con imponente arquitectura, ha sido un símbolo duradero de la institución y la ciudad.',
                    'texto2': 'La imagen captura la actualidad de la Universidad de Concepción, un venerado centro académico que ha sido testigo de notables transformaciones a lo largo de los años. Con sus edificios majestuosos y su campus lleno de vida, la universidad es más que una institución educativa; es un monumento a la búsqueda constante de conocimiento y al progreso. Cada rincón cuenta una historia, desde las aulas donde se gestan ideas innovadoras hasta los espacios verdes que fomentan la reflexión y el intercambio intelectual.',
                },
                'catedral metropolitana de la santísima concepción': {
                    'imagen1': '{% static "assets/lugares/catedral1.jpg" %}',
                    'imagen2': '{% static "assets/lugares/catedral2.jpg" %}',
                    'texto1': 'Antigua Catedral de Concepción: Construida en el siglo 18, con dos torres de estilo neoclásico y una gran nave central, proyecto de Jean Herbage, con modificaciones de Eugène Joannon; demolida a raíz del terremoto de 1939, en este mismo sitio, se puso la primera piedra de la actual Catedral en el año 1940. Inaugurada y entregada para el culto, en 1964. Arquitectura de estilo románico, forma de cruz latina, obra de los arquitectos Ramón Venegas, Carlos Casanueva Baluca y Fernando Urrejola Arrau.',
                    'texto2': 'En la imagen, se captura el actual estado de la Catedral Metropolitana de la Santísima Concepción, un monumento que ha resistido las pruebas del tiempo. La catedral, con su majestuosa arquitectura, refleja la rica historia y la devoción arraigada en la comunidad. A través de los años, la catedral ha sido testigo de eventos históricos y cambios significativos en la ciudad. Su presencia imponente y su diseño arquitectónico único la convierten en un símbolo duradero de la fe y la cultura en la región.',
                },
            };

            locationInput.addEventListener('input', function () {
                sugerenciasContainer.innerHTML = '';

                const textoIngresado = locationInput.value.trim().toLowerCase();

                // No mostrar sugerencias si el campo está vacío
                if (textoIngresado === '') {
                    sugerenciasContainer.style.display = 'none';
                    return;
                }

                // Filtra lugares que coincidan con el texto ingresado
                const sugerencias = Object.keys(lugaresData).filter(lugar =>
                    lugar.toLowerCase().includes(textoIngresado)
                );

                // Muestra las sugerencias
                sugerencias.forEach(sugerencia => {
                    const divSugerencia = document.createElement('div');
                    divSugerencia.className = 'sugerencia';
                    divSugerencia.textContent = sugerencia;

                    divSugerencia.addEventListener('click', function () {
                        locationInput.value = sugerencia;
                        mostrarResultado();
                        sugerenciasContainer.innerHTML = '';
                    });

                    sugerenciasContainer.appendChild(divSugerencia);
                });

                // Muestra u oculta el contenedor de sugerencias según si hay sugerencias o no
                sugerenciasContainer.style.display = sugerencias.length > 0 ? 'block' : 'none';
            });

            function mostrarResultado() {
                const lugarSeleccionado = locationInput.value.trim().toLowerCase();

                if (lugarSeleccionado in lugaresData) {
                    const datosLugar = lugaresData[lugarSeleccionado];
                    resultadoContainer.innerHTML = '';

                    // Solo crea elementos HTML si hay una imagen disponible
                    for (let i = 1; datosLugar['imagen' + i]; i++) {
                        const imagen = document.createElement('img');
                        imagen.src = datosLugar['imagen' + i];
                        imagen.alt = 'Imagen ' + i;

                        const texto = document.createElement('p');
                        texto.textContent = datosLugar['texto' + i];

                        resultadoContainer.appendChild(imagen);
                        resultadoContainer.appendChild(texto);
                    }
                } else {
                    resultadoContainer.innerHTML = '<p>Lugar no encontrado</p>';
                }
            }
        });
    </script>
{% endblock %}
</body>
</html>
