body {
    background-image: url('../assets/img/index.png');
    background-size:cover;
}
.btn-custom {
    background-color: #d491c9; /* Cambia #FF5733 al color que desees */
    color: #000000; /* Cambia #FFFFFF al color del texto deseado */
}

.btn-custom:hover {
    background-color: rgb(188, 11, 91); /* Cambia #FF8140 al color de fondo en el hover deseado */
    border-color: #a640ff; /* Cambia #FF8140 al color del borde en el hover deseado */
}