body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.search-bar {
    margin: 20px 0;
}

#location-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e3ccb0;
    color: #333;
}

.divider {
    margin: 20px 0;
    border: 1px solid #ccc;
}

.subtitle {
    font-size: 18px;
    color: #333;
    margin: 20px 0;
}

.timeline-entry {
    margin-bottom: 20px;
}

/* Estilos adicionales para dispositivos móviles */
@media screen and (max-width: 768px) {
    #location-input {
        width: 100%;
    }
}

