/* Estilo personalizado para hacer la barra de navegación transparente */
.navbar {
    background-color: transparent !important;
    box-shadow: none !important;
  }


.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }

  .contenido-index {
    text-align: center;
    margin-top: 200px;
    margin-left: 900px; /* Puedes ajustar este valor según tu preferencia */
}



/* Cambia el color del texto de la barra de navegación a negro (#000) y ajusta el tamaño de fuente */
.navbar .navbar-nav .nav-link {
    color: #000 !important; /* El !important es necesario para anular cualquier estilo heredado */
    margin-right: 25px;
    font-size: 18px; /* Tamaño de fuente, puedes ajustarlo según tus preferencias */
}

/* Clase para dividir en dos filas */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Clases para las dos columnas */
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}






















