/* Estilo personalizado para hacer la barra de navegación transparente */
.navbar {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .navbar a.navbar-brand {
    color: #000000 !important; /* Cambia el color del texto del logotipo a blanco */
  }
  
  .navbar .navbar-nav .nav-link {
    color: #fff !important; /* Cambia el color del texto de las opciones de navegación a blanco */
  }
  
  .navbar-toggler-icon {
    background-color: #fff !important; /* Cambia el color del icono del botón de navegación a blanco */
  }
  background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }
  
  /* Cambia el color del texto de la barra de navegación a negro (#000) y ajusta el tamaño de fuente */
  .navbar .navbar-nav .nav-link {
    color: #000 !important; /* El !important es necesario para anular cualquier estilo heredado */
    margin-right: 25px;
    font-size: 18px; /* Tamaño de fuente, puedes ajustarlo según tus preferencias */
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.search-bar {
    margin: 20px 0;
}

#location-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e3ccb0;
    color: #333;
}

.divider {
    margin: 20px 0;
    border: 1px solid #ccc;
}

.subtitle {
    font-size: 18px;
    color: #333;
    margin: 20px 0;
}

.timeline-entry {
    margin-bottom: 20px;
}

/* Estilos adicionales para dispositivos móviles */
@media screen and (max-width: 768px) {
    #location-input {
        width: 100%;
    }
}

.timeline {
  display: flex;
  justify-content: space-between;
}

.timeline-item {
  width: 23%; /* Establece el ancho de cada imagen para que haya espacio entre ellas */
  text-align: center;
  margin: 10px 0;
}

.timeline-item img {
  width: 100%; /* Asegura que la imagen ocupe todo el espacio dentro del contenedor */
  border-radius: 5px; /* Añade esquinas redondeadas a las imágenes si lo deseas */
}
