
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

.container-item {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.search-bar {
    margin: 20px 0;
}

#location-input {
    width: 900px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #8ce992;
    color: #333;
}

.divider {
    margin: 20px 0;
    border: 1px solid #ccc;
}

.subtitle {
    font-size: 18px;
    color: #333;
    margin: 20px 0;
}

.timeline-entry {
    margin-bottom: 20px;
}

/* Estilos adicionales para dispositivos móviles */
@media screen and (max-width: 768px) {
    #location-input {
        width: 100%;
    }
}

.timeline {
  display: flex;
  justify-content: space-between;
}

.timeline-item {
  width: 23%; /* Establece el ancho de cada imagen para que haya espacio entre ellas */
  text-align: center;
  margin: 10px 0;
}

.timeline-item img {
  width: 100%; /* Asegura que la imagen ocupe todo el espacio dentro del contenedor */
  border-radius: 5px; /* Añade esquinas redondeadas a las imágenes si lo deseas */
}

body {
    min-height: 100%;
    background: #C9FFBF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  }