body {
    background-image: url('../assets/img/index.png');
    background-size:cover;
    height: 100vh;
}
.btn-custom {
    background-color: #d491c9; 
    color: #000000;
}

.btn-custom:hover {
    background-color: rgb(188, 11, 91);
    border-color: #a640ff;
}
